<!DOCTYPE html>
<html>
   <body>
      <p><center style="color:Tomato;font-size:10vw;">{{ .Region }}</center></p>
      <p><center style="color:Tomato;font-size:10vw;">{{ .Pod }}</center></p>
   </body>
</html>